.dashboard-container {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
  }

  .add-need-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-need-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  
}

.box-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

  .add-need-box label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  gap: 4px;
}

.add-need-box h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

  .edit-need-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-need-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  
}

.edit-box-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

  .edit-need-box label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  gap: 4px;
}

.edit-need-box h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
  
  .needs-list {
    max-height: 500px; /* limit height */
    overflow-y: auto;   /* vertical scroll */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }
  
  .need-card {
    border-bottom: 1px solid #eee;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .need-card:last-child {
    border-bottom: none;
  }